<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedTutorials()" [disabled]="!selectedTutorials || !selectedTutorials.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

           
            <p-table #dt [value]="tutorials" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['title']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"  selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Tutorial List</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="types.nom">Type <p-sortIcon field="types.nom"></p-sortIcon></th>
                        <th pSortableColumn="title">Title <p-sortIcon field="title"></p-sortIcon></th>
                        <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>

                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-tutorial>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="tutorial"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Type</span>
                            {{ tutorial.types.nom }}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Title</span>
                            {{ tutorial.title }}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Description</span>
                            {{ tutorial.description }}
                        </td>
                        
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editTutorial(tutorial)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mt-2" (click)="deleteTutorial(tutorial)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="tutorialDialog" [style]="{width: '500px'}" header="Tutorial Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="status">Type</label>
                    <p-dropdown id="type" [options]="types" optionLabel="nom" [(ngModel)]="id_type" name="type" placeholder="Select a Type" [(ngModel)]="selectedDrop" [showClear]="true">
                        <ng-template let-type pTemplate="item">
                            <span>{{ type.nom }}</span>

                        </ng-template>

                    </p-dropdown>

                </div>
                <div class="field">
                    <label for="title">Title</label>
                    <input type="text" pInputText id="title" placeholder="Your Title" [(ngModel)]="tutorial.title" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !tutorial.title}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !tutorial.title">Title is required.</small>
                </div>
                <div class="field">
                    <label for="description">Description</label>
                    <textarea type="text" pInputTextarea id="description" placeholder="Your Description" autoResize rows="3" cols="30" [(ngModel)]="tutorial.description" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !tutorial.description}"></textarea>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !tutorial.description">Description is required.</small>
                </div>
                
		

            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveTutorial()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteTutorialDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="tutorial">Are you sure you want to delete <b>{{tutorial.title}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteTutorialDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteTutorialsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected tutorials?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteTutorialsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>

